/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/educa.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/educa/db.sqlite3
/educa/courses/fixtures/subjects.json
/educa/media/
/data/